<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>

<body>
  <h1><%= title %></h1>
  <% if(hobbies.length){ %>
  <ul>

    <% hobbies.forEach(h => { %>
    <li><%= h.name %> - <a href="<%= h._id %>">view details</a>
      <form action="/<%= h._id %>?_method=DELETE" method="POST">
        <input class='btn-danger' type="submit" value="x">
      </form>
    </li>
    <% })%>
  </ul>
  <% } else { %>
  <p>No Hobbies Here!</p>
  <% } %>
  ---------------------
  <h3>Add New Hobby!</h3>
  <form method="POST" action="/">
    <input type="text" name="name" placeholder="hobby name">
    <br>
    <textarea type="text" name="description" placeholder="hobby description"></textarea>
    <br>
    <input type="submit" value="Submit Hobby">
  </form>
</body>

</html>